.heading
    %h1 Riding Summary
    %p #{notice}
    %h2 #{@riding_summary[:region]}
    %h3 #{@riding_summary[:name]}

:javascript
    var riding = #{@riding_summary.to_json.to_s.html_safe};

.row
    #d3graph.large-6.columns.left
        %svg#chart{:viewBox => '0, 0, 500, 500'}

    .large-6.columns
        %table.name_table
            %thead#names
                %tr
                    %th.results_head Party
                    %th.results_head Candidate
                    %th.results_head Votes

:erb
    <%= link_to 'Back', ridings_path %>
    <%= javascript_include_tag "d3.v3.min" %>
    <%= javascript_include_tag "ridings" %>
