.party {
    fill: gray;
}

.NDP {
    fill: #f8aa5d;
}

.Liberal {
    fill: crimson;
}

.Conservative {
    fill: cornflowerblue;
}

.Green {
    fill: mediumseagreen;
}

.Bloc {
    fill: lightblue;
}

