body {
  background-color: #DDDDDD;
}

table {
  width: 100%;
}

th {
  background-color: #443333;
}

.results_head {
  color: white;
}

tr {
  color: #443333;
}

.odd {
  background-color: #eeeeee;
}

.even {
  background-color: #ddcccc;
}

.percent {
  max-width: 115px;
}